@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kindle için seçim engelleme ve dokunma iyileştirmesi */
body {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;

    overflow: hidden; /* Kaydırmayı kapat */
    touch-action: manipulation; /* Zoom yapmayı engelle (Kindle için iyi) */
}

/* Eğer içerik taşarsa da çubuğu gösterme (Webkit tarayıcılar için) */
::-webkit-scrollbar {
    display: none;
}